repos:
  - repo: local
    hooks:
      - id: fmt
        types:
          - rust
        name: rust fmt
        language: system
        entry: cargo
        pass_filenames: false
        args:
          - fmt
          - --
          - --config
          - use_try_shorthand=true,imports_granularity=Crate

      - id: clippy
        types:
          - rust
        name: rust clippy
        language: system
        pass_filenames: false
        entry: cargo
        args:
          - clippy
          - -p
          - fast-cnum-converter
          - --
          - -W
          - clippy::all
          - -W
          - clippy::pedantic
          - -D
          - warnings

      - id: check
        types:
          - rust
        name: rust cargo check
        language: system
        entry: cargo
        pass_filenames: false
        args:
          - check
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        name: python mypy
        always_run: true
        pass_filenames: false
        args: ["python"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        name: ruff
        always_run: true
        args: ["python", "--fix"]
